@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans', sans-serif;
}

/*-----RESEAUX SOCIAUX-----*/
.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}

.sci {
    position: relative;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 120px));
    font-size: 14vw;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
}

.sci li:hover::before {
    opacity: 0.1;
    transform: translate(-50%, calc(-50% + 150px));
}

.sci li a {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
    transition: background 0.25s;
}

.js-tilt-glare {
    border-radius: 10px;
}

/* ----------------------- */

.sci li a:hover.youtube {
    background: #ff0000;
}

.sci li a:hover.instagram {
    background: #e4405f;
}

.sci li a:hover.linkedin {
    background: #0072b1;
}

.sci li a:hover.whatsapp {
    background: #25d366;
}

.sci li a:hover.portfolio {
    background: #ae4dff;
}

.sci li a:hover.behance {
    background: #053eff;
}

.sci li a:hover.dribbble {
    background: #ea4c89;
}

.sci li a:hover.figma {
    background: #ff3b00;
}

.sci li a:hover.github {
    background: #333;
}

/* ----------------------- */

.sci li a .fa-brands {
    transition: 0.25s;
    pointer-events: none;
}

/* ----------------------- */

.sci li a:hover .fa-behance {
    color: #fff;
    transform: translateZ(40px);
    width: 90px;
    height: 90px;
}

.sci li a:hover .fa-dribbble {
    color: #fff;
    transform: translateZ(40px);
    width: 90px;
    height: 90px;
}

.sci li a:hover .fa-figma {
    color: #fff;
    transform: translateZ(40px);
    width: 90px;
    height: 90px;
}

.sci li a:hover .fa-linkedin {
    color: #fff;
    transform: translateZ(40px);
    width: 90px;
    height: 90px;
}

.sci li a:hover .fa-link {
    color: #fff;
    transform: translateZ(40px);
    width: 90px;
    height: 90px;
}

.sci li a:hover .fa-github {
    color: #fff;
    transform: translateZ(40px) scale(1.4);
}

.sci li a:hover .fa-instagram {
    color: #fff;
    transform: translateZ(40px) scale(1.4);
}

.sci li a:hover .fa-whatsapp {
    color: #fff;
    transform: translateZ(40px) scale(1.4);
}

.sci li a:hover .fa-youtube {
    color: #fff;
    transform: translateZ(40px) scale(1.4);
}