@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans', sans-serif;
}

/*-----PARALLAX-----*/
.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #111;
}

.text {
    position: relative;
    transform: skewY(345deg) translateY(-200px);
    animation: animateColor 5s linear infinite;
}

@keyframes animateColor {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.text h2 {
    position: relative;
    width: 100%;
    font-size: 8em;
    color: #fff;
    pointer-events: none;
    line-height: 1em;
    white-space: nowrap;
    text-shadow: calc(var(--x)) 100px 0 rgba(255, 255, 255, 0.1);
    transform: translateX(calc(0% - var(--x) * var(--i)));
}

.text h2 span {
    color: #0f0;
    margin: 0 10px;
}

.text h2 span:nth-child(even) {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

/*-----CONTAINER-----*/
.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.container .section {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-blend-mode: multiply;
}

.container .section:nth-child(1) {
    /*background: #f00 url(bg1.jpg);*/
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(2) {
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(3) {
    background-size: cover;
    background-attachment: fixed;
}

.container .section:nth-child(4) {
    background: #FFFC00 url(bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container .section .content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 700px;
}

.container .section .content h2 {
    background: #fff;
    color: #111;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2em;
}

.container .section .content p {
    background: #fff;
    color: #111;
    font-weight: 300;
    padding: 10px 20px;
    margin-top: 10px;
}

/*-----RESEAUX SOCIAUX-----*/
.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}

.sci {
    position: relative;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 120px));
    font-size: 14vw;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
}

.sci li:hover::before {
    opacity: 0.1;
    transform: translate(-50%, calc(-50% + 150px));
}

.sci li a {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
    transition: background 0.25s;
}

.js-tilt-glare {
    border-radius: 10px;
}

.sci li a:hover.youtube {
    background: #ff0000;
}

.sci li a:hover.instagram {
    background: #e4405f;
}

.sci li a:hover.linkedin {
    background: #0072b1;
}

.sci li a:hover.whatsapp {
    background: #25d366;
}

.sci li a:hover.portfolio {
    background: #8f008f;
}

.sci li a:hover.behance {
    background: #053eff;
}

.sci li a:hover.dribbble {
    background: #ea4c89;
}

.sci li a .fa {
    transition: 0.25s;
    pointer-events: none;
}

.sci li a:hover .fa {
    color: #fff;
    transform: scale(1.40) translateZ(40px);
}